.submit-btn {
    background-color: var(--clr-primary);
    width: 100%;
    padding: 0.75em;
    color: #fff;
    font-weight: 600;
    border-radius: 2em;
    display: block;
    border: 1px solid transparent;
    margin-top: 1.5rem;
    transition: var(--transition);
    &:hover,
    &:focus-visible {
        background-color: transparent;
        color: var(--clr-primary);
        border-color: var(--clr-primary);
    }
}
