.blog-content-main {
    padding-top: 2rem;
    padding-bottom: 7em;
    .featured-blog {
        overflow: clip;
        aspect-ratio: 4/3;
        position: relative;
        border-radius: 10px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        @media screen and (min-width: 768px) {
            aspect-ratio: 16/9;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .info {
            position: absolute;
            inset: 0;
            z-index: 2;
            padding: 2em;
            display: flex;
            flex-direction: column;
            grid-area: 1rem;
            justify-content: flex-end;
            gap: 1rem;
            p {
                max-width: 65ch;
                color: #fff;
            }
            small {
                color: #fff;
            }
            h3 {
                color: #fff;
            }
            .btn-c {
                width: fit-content;
            }
        }
    }
    .main-blogs {
        margin-top: 5em;
        h2 {
            margin-bottom: 2em;
        }
        .recent-blogs {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            place-items: center;
            column-gap: 2rem;
            row-gap: 3rem;
            .blog-card {
                background-color: var(--bg-500);
                .badge {
                    background-color: var(--bg-500);
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        padding-bottom: 10em;
    }
}
