.main-nav {
    position: fixed;
    background-color: var(--bg-500);
    z-index: 99999;
    top: auto;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.8em 1.65em 0.6em 1.65em;
    border-radius: 2rem;
    border: 2px solid var(--bg-400);
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        .nav-link {
            display: flex;
            flex-direction: column;
            gap: 0;
            align-items: center;
            justify-content: center;
            .name {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: transparent;
            }
            .icon {
                transition: var(--transition);
                font-size: 1.2rem;
            }
            &.active {
                .name {
                    background-color: var(--clr-primary);
                }
                .icon {
                    color: var(--clr-primary);
                }
            }
            &.togle {
                .icon {
                    color: rgb(190, 82, 240);
                }
            }
            &:hover,
            &:focus-visible {
                .icon {
                    color: var(--clr-primary);
                }
            }
        }
        @media screen and (max-width: 400px) {
            gap: 1.2rem;
        }
    }
    @media screen and (min-width: 768px) {
        top: 2rem;
        bottom: auto;
    }
}
