:root {
    --bg-400: #fff;
    --bg-500: #eaf1f9;
    --clr-body: #516078;
    --clr-heading: #000021;
    --clr-primary: #1479ff;
    --form-bdr: #2e374a;
    --transition: all 400ms ease-in-out;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-400: #222a35;
        --bg-500: #171e28;
        --clr-body: #eee;
        --clr-heading: #fff;
        --clr-primary: #febd3b;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-400);
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary);
    border: 2px solid var(--bg-400);
    border-radius: 100vw;
}

html,
body {
    max-width: 100vw;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: var(--bg-400);
    color: var(--clr-body);
    font-size: clamp(0.8125rem, 0.725rem + 0.4vw, 1rem);
    line-height: 1.6;
}
img {
    display: block;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
    text-wrap: balance;
    color: var(--clr-heading);
}
h1 {
    font-size: clamp(1.875rem, 1.2917rem + 2.6667vw, 3.125rem);
}
h2 {
    font-size: clamp(1.375rem, 1.0833rem + 1.3333vw, 2rem);
}

a {
    color: inherit;
    text-decoration: none;
}
button {
    background-color: transparent;
    cursor: pointer;
}
.container {
    width: 95%;
    margin-inline: auto;
    max-width: 990px;
    @media screen and (min-with: 990px) {
        width: 80%;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3em 1.7em;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2em 0 2em 2em;
    transition: var(--transition);
    border: 1px solid transparent;
    font-size: clamp(0.6rem, 0.7rem + 0.8vw, 0.79rem);
    &.secondary {
        background-color: var(--clr-body);
        color: var(--bg-500);
        &:hover,
        &:focus-visible {
            background-color: transparent;
            border-color: var(--clr-body);
            color: var(--clr-body);
        }
    }
    &.primary {
        background-color: var(--clr-primary);
        color: var(--bg-500);
        &:hover,
        &:focus-visible {
            background-color: transparent;
            border-color: var(--clr-primary);
            color: var(--clr-primary);
        }
    }
}
.btn-c {
    font-size: clamp(0.6rem, 0.7rem + 0.8vw, 0.79rem);
    background-color: var(--clr-primary);
    color: #fff;
    padding: 0.3em 0.6em;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: var(--transition);
    &:hover,
    &:focus-visible {
        border-color: var(--clr-primary);
        background-color: transparent;
    }
    &.danger {
        background-color: crimson;
        &:hover,
        &:focus-visible {
            border-color: crimson;
            background-color: transparent;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 400px;
    margin-top: 3em;
    .form-grp {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        label {
            font-weight: 600;
        }
        input,
        textarea {
            background-color: transparent;
            border: 1px solid var(--form-bdr);
            padding: 0.75em;
            border-radius: 5px;
            &::placeholder {
                color: var(--form-bdr);
            }
        }
        textarea {
            resize: none;
        }
        select {
            background-color: transparent;
            padding: 0.75em;
            cursor: pointer;
            border: 1px solid var(--form-bdr);
            border-radius: 5px;
        }
    }
    .btn-c {
        width: fit-content;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-block: 2rem;

    th {
        padding: 1rem;
        text-align: left;
        border-bottom: 1px solid var(--clr-body);
    }
    tr {
        transition: var(--transition);
        &:nth-of-type(2n) {
            background-color: var(--bg-400);
        }
        &:hover,
        &:focus-visible {
            opacity: 0.8;
        }
    }

    td {
        padding: 1rem;
        .image {
            width: 2rem;
            height: 2rem;
            overflow: clip;
            border-radius: 50%;
            img {
                object-fit: cover;
                object-position: center;

                width: 100%;
                height: 100%;
            }
        }
    }
    .btn-c {
        margin-right: 1rem;
    }
}
