.footer {
    background-color: var(--bg-500);
    padding-block: 5em;
    .container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
        .socials {
            display: flex;
            align-items: center;
            gap: 2rem;
            svg {
                transition: var(--transition);
                &:hover,
                &:focus-visible {
                    color: var(--clr-primary);
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        padding-block: 7em;
    }
}
