.login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 5em;
    min-height: 55vh;
    .cnt {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--bg-500);
        padding: 3em;
        border-radius: 8px;
        min-width: 300px;
        h3 {
            margin-bottom: 2.5em;
        }
        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1.5rem;
            .form-group {
                display: flex;
                align-items: center;
                gap: 0rem;
                border-bottom: 1px solid var(--form-bdr);
                input {
                    background: transparent;
                    padding: 0.75em;
                }
            }
            button {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                background-color: crimson;
                width: 100%;
                justify-content: center;
                padding: 0.5em;
                border-radius: 5px;
                border: 2px solid transparent;
                transition: var(--transition);
                margin-block: 1em;
                &:hover,
                &:focus-visible {
                    background-color: transparent;
                    border-color: crimson;
                }
            }
        }
    }
}
