.selected-projects {
    background-color: var(--bg-500);
    padding-block: 5em;
    .projects-content {
        margin-top: 3rem;
        padding: 0.5em;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-auto-rows: 300px;
        .project-card {
            overflow: clip;
            border-radius: 8px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .info {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                backdrop-filter: blur(5px);
                color: #eee;
                background-color: rgba(0, 0, 0, 0.281);
                padding: 0.5em 2em;
                z-index: 5;
                h4 {
                    color: #eee;
                }
            }
            .view {
                position: absolute;
                inset: 0;
                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 3rem;
                background-color: rgba(0, 0, 0, 0.65);
                color: #eee;
                transition: var(--transition);
                scale: 0;
            }
            &:hover,
            &:focus-visible {
                .view {
                    scale: 1;
                }
            }
        }
        @media screen and (min-width: 550px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (min-width: 990px) {
            padding: 2rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .project-card {
                &:first-child,
                &:last-child {
                    grid-column: span 2;
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        padding-block: 10em;
    }
}
