.home-blog {
    padding-block: 7em;
    background-color: var(--bg-500);
    .container {
        .blog-content {
            margin-top: 5rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            place-items: center;
            column-gap: 2rem;
            row-gap: 3rem;
        }
    }
    @media screen and (min-width: 768px) {
        padding-block: 10em;
    }
}
